html, body {
  font-family: "Poppins" "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: unset;
}

u {
  text-decoration-thickness: 2px;
}

@media (min-width: 0px) {
  h1 {
    font-size: 1em !important;
  }
  h2 {
    font-size: 0.75em !important;
  }
  h3 {
    font-size: 0.56em !important;
  }
  h4 {
    font-size: 0.42em !important;
  }
  h5 {
    font-size: 0.31em !important;
  }
  h5 {
    font-size: 0.23em !important;
  }
  p {
    font-size: 0.8em !important;
  }
}
@media (min-width: 319px) {
  h1 {
    font-size: 1.8em !important;
  }
  h2 {
    font-size: 1.35em !important;
  }
  h3 {
    font-size: 1.01em !important;
  }
  h4 {
    font-size: 0.76em !important;
  }
  h5 {
    font-size: 0.57em !important;
  }
  h6 {
    font-size: 0.43em !important;
  }
  p {
    font-size: 0.8em !important;
  }
}
@media (min-width: 374px) {
  h1 {
    font-size: 1.9em !important;
  }
  h2 {
    font-size: 1.9em !important;
  }
  h3 {
    font-size: 1.9em !important;
  }
  h4 {
    font-size: 1.9em !important;
  }
  h5 {
    font-size: 1.9em !important;
  }
  h6 {
    font-size: 1.9em !important;
  }
  p {
    font-size: 0.9em !important;
  }
}
@media (min-width: 424px) {
  h1 {
    font-size: 1.6em !important;
  }
  h2 {
    font-size: 1.2em !important;
  }
  h3 {
    font-size: 0.9em !important;
  }
  h4 {
    font-size: 0.67em !important;
  }
  h5 {
    font-size: 0.5em !important;
  }
  h6 {
    font-size: 0.37em !important;
  }
  p {
    font-size: 0.8em !important;
  }
}
@media (min-width: 767px) {
  h1 {
    font-size: 1.8em !important;
  }
  h2 {
    font-size: 1.35em !important;
  }
  h3 {
    font-size: 1.01em !important;
  }
  h4 {
    font-size: 0.75em !important;
  }
  h5 {
    font-size: 0.56em !important;
  }
  p {
    font-size: 0.8em !important;
  }
}
@media (min-width: 1023px) {
  h1 {
    font-size: 1.9em !important;
  }
  h2 {
    font-size: 1.42em !important;
  }
  h3 {
    font-size: 1.07em !important;
  }
  h4 {
    font-size: 0.8em !important;
  }
  h5 {
    font-size: 0.6em !important;
  }
  h6 {
    font-size: 0.45em !important;
  }
  p {
    font-size: 1em !important;
  }
}
@media (min-width: 1070px) {
  h1 {
    font-size: 2.25em !important;
  }
  h2 {
    font-size: 1.68em !important;
  }
  h3 {
    font-size: 1.26em !important;
  }
  h4 {
    font-size: 0.95em !important;
  }
  h5 {
    font-size: 0.71em !important;
  }
  h6 {
    font-size: 0.53em !important;
  }
  p {
    font-size: 1em !important;
  }
}
@media (min-width: 1439px) {
  h1 {
    font-size: 2.6em !important;
  }
  p {
    font-size: 1.1em !important;
  }
}
p {
  font-size: 0.8em;
  font-weight: 400;
}

h1 {
  font-size: 2.2em;
  line-height: 1.2em;
  font-weight: 700;
}

/* Define variables in .light-theme */
.light-theme {
  --primary-color: #000000; /* Default value */
  --secondary-color: #000000; /* Default value */
  --tertiary-color: #000000; /* Default value */
  --heading-color: #000000; /* Default value */
  --paragraph-color: #000000; /* Default value */
  --component-shadow-color: #000000; /* Default value */
}
.light-theme h1, .light-theme h2, .light-theme h3, .light-theme h4, .light-theme h5, .light-theme h6 {
  color: var(--heading-color);
}
.light-theme p {
  color: var(--paragraph-color);
}
.light-theme .font-color {
  color: black;
}
.light-theme .element-bg-color {
  background-color: #F0F0F0;
}

.mono-pro-component-selector-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: unset;
  margin: 0 auto;
}
@media (min-width: 0px) {
  .mono-pro-component-selector-container .mono-pro-component-selector {
    position: relative;
    margin-left: unset;
    margin-right: unset;
    width: 100%;
    height: inherit;
    padding: 0 15px;
    border-radius: 24px;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-item-header {
    position: relative;
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0 15px;
    border-radius: 10px;
    background: white;
    margin: 20px 0px;
    cursor: pointer;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-item-header p {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: unset;
    margin: unset;
    text-align: center;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-item-header p:nth-child(2) {
    margin-left: auto;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list {
    position: relative;
    display: none;
    width: 100%;
    height: 0%;
    align-items: center;
    list-style-type: none;
    margin: unset;
    padding: 10px 0px;
    overflow: hidden;
    border-radius: 15px;
    background: white;
    margin-bottom: 20px;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .mono-pro-component-selector-item {
    position: relative;
    display: none;
    align-items: center;
    width: 95%;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .mono-pro-component-selector-item p {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: unset;
    margin: unset;
    text-align: center;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .mono-pro-component-selector-item:hover {
    background: #F7F7F7;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .mono-pro-component-selector-item:hover p {
    color: Orange;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .selector-item-active {
    background: #F7F7F7 !important;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .selector-item-active p {
    color: Orange !important;
  }
}
@media (min-width: 767px) {
  .mono-pro-component-selector-container .mono-pro-component-selector {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    width: auto;
    padding: 0 15px;
    border-radius: 24px;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-item-header {
    display: none;
    background: yellow;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    list-style-type: none;
    margin: unset;
    padding: unset;
    background-color: unset;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .mono-pro-component-selector-item:nth-child(1) {
    margin-left: auto;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .mono-pro-component-selector-item:nth-last-child(1) {
    margin-right: auto;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .mono-pro-component-selector-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 45px;
    margin: 0px 3px;
    padding: 0 15px;
    border-radius: 15px;
    cursor: pointer;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .mono-pro-component-selector-item p {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: unset;
    margin: unset;
    text-align: center;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .mono-pro-component-selector-item:hover {
    background-color: #F7F7F7;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .mono-pro-component-selector-item:hover p {
    opacity: 0.25;
    color: black;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .selector-item-active {
    background-color: white !important;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .selector-item-active p {
    color: Orange !important;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .selector-item-active:hover {
    background-color: white !important;
  }
  .mono-pro-component-selector-container .mono-pro-component-selector .mono-pro-component-selector-list .selector-item-active:hover p {
    color: Orange !important;
    opacity: 1;
  }
}

.mono-pro-component-collage-container {
  position: relative;
}
.mono-pro-component-collage-container .mono-pro-component-collage {
  position: relative;
}
.mono-pro-component-collage-container .mono-pro-component-collage .mono-pro-component-collage-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.mono-pro-component-collage-container .mono-pro-component-collage .mono-pro-component-collage-grid .mono-pro-component-collage-item-container {
  position: relative;
  display: flex;
  width: 33.3%;
  overflow: hidden;
}
.mono-pro-component-collage-container .mono-pro-component-collage .mono-pro-component-collage-grid .mono-pro-component-collage-item-container .mono-pro-component-collage-item {
  position: relative;
  width: 95%;
  margin: unset auto;
}
.mono-pro-component-collage-container .mono-pro-component-collage .mono-pro-component-collage-grid .mono-pro-component-collage-item-container .mono-pro-component-collage-item .mono-pro-component-collage-item-image {
  position: relative;
  width: 100%;
  height: auto;
}/*# sourceMappingURL=theme.css.map */